node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
public/hot
public/build
.env
.DS_Store
.git
.gitignore
.idea
.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.swp
